<p>&nbsp;</p>

<h1>Reset your password</h1>

<p>Hi <%=user.fullName%>,</p>

<p>To verify your email address, please use the following One Time Password (OTP). If you did not request a new password, please ignore this email.</p>

<p><span style="font-size:18px"><strong><%=code%></strong></span></p>

<p>If you think this request looks suspicious, please let us know, we take our security seriously.</p>

<p><span style="font-size:16px">Regards,</span><br />
<span style="font-size:16px">The&nbsp; PB&nbsp;Team</span></p>

<hr />
<p><span style="color:#919eab; font-size:12px">App</span><br />
<span style="color:#919eab; font-size:12px">You received this because you&#39;re a registered app_name&nbsp;user. Do not reply.</span></p>
